.rp-widget {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #333333;
    border-radius: 5px 5px 5px 5px;
    width:600px;
}
.rp-widget ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.rp-widget li{
    list-style: none;
}
.rp-widget h2, .rp-widget p{
    margin: 0px;
    padding: 0px;
}

.rp-widget a {
    color: #0088CC;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.Clear{clear: both;}
.rp-widget .rp-header{
    border-bottom: 1px solid #333333;
    background: none repeat scroll 0 0 #333333;
    color: #CCCCCC;
    padding: 10px;
}

.rp-widget .rp-header .header-desc{font-size: 12px;}

.rp-widget .header-avatar{
    height: 50px;
    margin-right: 10px;
    width: 50px;
    float: left;
}

.rp-widget .header-avatar img {
    border: 0 none;
    max-width: 100%;
    vertical-align: middle;
}

.rp-widget .header-name h2{
    font-size: 15px;
    font-weight: bold;
    margin-top: -3px;
}

.rp-widget .child-first{padding: 10px; border-bottom: solid 1px #E9E9E9; clear: both;}
.rp-widget .avatar{float: left; margin-right: 10px;}
.rp-widget #contentbox{float: left; width: 80%;}
.rp-widget #contentbox .child-name{padding-bottom: 10px;}

.rp-widget #contentbox .subimage{width:120px; float: left; padding-right: 10px; padding-bottom: 10px;}
.rp-widget #contentbox .subimage img{width:120px;}

.rp-widget #contentbox #video{width:120px; height: 90px; float: left; padding-right: 10px; padding-bottom: 10px;}
.rp-widget #contentbox #video iframe{width:120px; height: 90px;}
.rp-widget #contentbox .video_name{float: left;}
.rp-widget #contentbox .video_name a{font-weight: bold;}
.rp-widget #contentbox .facebook-thread-link{clear: both; display: block;}
.rp-widget #contentbox .twitter-thread-link{clear: both; display: block;}
.rp-widget .comment-box{clear: both;}
.rp-widget .facebook-thread-link{background: none repeat scroll 0 0 #3B5998; border-radius: 3px 3px 3px 3px;
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 1px 5px;
    width: 110px;
    color: #ffffff;
}
.rp-widget .twitter-thread-link{background: none repeat scroll 0 0 #40BDDF; border-radius: 3px 3px 3px 3px;
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 1px 5px;
    width: 78px;
    color: #ffffff;
}
.rp-widget .asset-facebook, .rp-widget .asset-twitter{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.12);
    font-size: 11px;
    line-height: 14px;
    margin: 0;
    padding: 3px 5px;
    font-weight: bold;
}
.rp-widget .asset-facebook .readypulse-pub-date, .rp-widget .asset-twitter .readypulse-pub-date{float: left; padding-right: 10px;}

.rp-widget .child-second .asset-facebook, .rp-widget .child-second .asset-twitter{
    background: none;
    font-size: 11px;
    line-height: 14px;
    margin: 0;
    padding: 3px 5px;
    font-weight: bold;
}

.rp-widget .facebookimage {
    background-image: url("images/w.png");
    background-position: 0 0;
    float: left;
    height: 11px;
    margin-right: 5px;
    margin-top: 2px;
    width: 11px;
}

.rp-widget .twitterimage {
    background-image: url("images/w.png");
    background-position: 0 -88px;
    float: left;
    height: 11px;
    margin-right: 5px;
    margin-top: 2px;
    width: 11px;
}

.rp-widget .rpWidget-children .child-second{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.12);
    margin: 5px 0px 5px 0px;
    padding: 5px;
}

.rp-widget .rpWidget-children .child-second #contentbox h2{
    margin-top: -3px;
}

.rp-widget .rpWidget-children .child-second #avtarimage img{
    width: 32px;
    height: 32px;
    margin-top: 2px;
}

.rp-widget .rp-footer{
    background: none repeat scroll 0 0 #333333;
    color: #CCCCCC;
    text-align: right;
    padding-right: 5px;
}
.rp-widget .rp-footer a{
    color: #CCCCCC;
}
.phototext{margin-top: -3px;}
.video_name{margin-top: -4px;}